:root {
    --greyBackground: #E9E9E9;
    --darkGreen: #505946;
    --blackGreen: #0A0C07;
    --lightBlue:#719294;
    --darkBlue:#52848A;
  }
/*Tag mods*/
body {
    color: var(--blackGreen);
    background-color: var(--greyBackground);
    height: 100%;
    margin: 0;
  }

h3{
    font-family: "Nanum Myeongjo", serif;
  }

h1, h2{
    font-family: "Italiana", sans-serif;
      }

footer{
    position: relative;
    background-color: var(--darkGreen);
    color: var(--greyBackground);
    width: 100%;
    position: relative;
    height: 30px;
}
/* Layout_ file*/

  
.section-left {
    background-color: var(--greyBackground);/* Light background for left section */
    height: 100vh; /* Full viewport height */
   
}
.section-right {
    background-color:var(--greyBackground); /* Slightly darker background for right section */
    height: 100vh; /* Full viewport height */
}

.nav-color{
    color: var(--blackGreen);
    width: 90%;
    border-radius: 15px;
}
.nav-color:hover{
    color: var(--greyBackground);
    background-color: var(--darkGreen);
}

.material-icons{
    font-size: 33.6px;
    margin-bottom: .4em;
    margin-right: .4em;
}

.bordered-vertical {
    position: relative; 
}

.bordered-vertical::after {
    content: '';
    position: absolute;
    top: 15px; 
    right: 10px; 
    bottom: 15px; 
    width: 1px; 
    opacity: 0.33;
    background-color: var(--blackGreen);
}

.bordered-horizontal {
    position: relative; 
}

.bordered-horizontal::after {
    content: '';
    position: absolute;
    opacity: 0.33;
    left: 10px; 
    top: 100%; 
    right: 10px; 
    height: 1px; 
    background-color: var(--blackGreen);
    margin-top: -1px; 
}

.layout-friends{
    opacity: .7;
}

.custom-img {
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    object-fit: cover; /* cover the area without distorting the image */
}

.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--greyBackground);
    border-radius: 5px;
}

.filler-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
}
=======
    max-width: 100%;
    max-height: 100vh;
    object-fit: cover;
}

/*Carousel*/
.cards-wrapper {
    display: flex;
    justify-content: center;
  }
  .card img {
    max-width: 100%;
    max-height: 100%;
  }

  .card {
    margin: 0 0.5em;
    background-color: var(--greyBackground);
    
    border: none;
    border-radius: 0;
  }

  .card img {
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    object-fit: cover;
  }

  .card h5{
    font-family: "Nanum Myeongjo", serif;
    color: var(--blackGreen);
    text-align: center;
  }

  .carousel-inner {
    padding-top: 1em;
  }



  /*Journal post*/

  .gallery .col-md-3 {
    padding: 0; 
}
  .gallery img {
    border-radius: 3%;
    width: 100%;
    height: 200px; 
    object-fit: cover; 
    padding: 5px 5px;
}
/*Profile & friend pages*/
