{% extends '_layout.html' %}

{% block title %}Add Plant{% endblock %}

{% block body %}
<body>
    <header>
        <h1>Add a Plant to Your Garden</h1>
    </header>
    <main>
        <section>
           
        </section>
        <section>
            {% block right %}
            <div class="container mt-5">
                <h2>Select a Plant to Add to Your Garden</h2>
                <div id="loading" class="text-center mb-4" style="display: none;">
                    <p>Loading plants...</p>
                    <div class="spinner-border text-primary" role="status"></div>
                </div>
                <div id="plant-gallery" class="row">
                    {% for plant in default_plants %}
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="{{ plant['image'] }}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ plant['common_name'] }}</h5>
                                <p class="card-text">{{ plant['scientific_name'] }}</p>
                                <!-- Add form around the button -->
                                <form method="POST" action="{{ url_for('main.add_plant') }}">
                                    <input type="hidden" name="plant_id" value="{{ plant['id'] }}">
                                    <button type="submit" class="btn btn-primary">Add to My Garden</button>
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                
                <button onclick=addPlantToGarden() id="add-plant-button" class="disabled btn btn-primary mt-4" disabled>Find A Different Plant</button>
            </div>
            
            
            
            {% endblock %}
        </section>
    </main>
    <script type="module" src="flaskr/static/components/addPlant.js"></script>
</body>
{% endblock %}