{% extends 'layout2.html' %}

{% block title %}Forget Password - PlantPals{% endblock %}

{% block left %}
    <!-- forgot_password.html -->
    <body>
      <div class="px-4">
        <h3 class="mt-1 layout-2 layout-2-font">Forgot Password</h3>
        <form id="forgot-password-form">
          <div class="form-group">
            <label class="layout-2-font" for="email">Enter your email:</label>
            <input type="email" id="email" name="email" class="form-control" required>
          </div>
          <button type="submit"  class="btn btn-primary">Send Reset Email</button>
        </form>
      
        <div id="alert"></div>
      </div>
      </body>

    <script src="https://www.gstatic.com/firebasejs/9.15.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.15.0/firebase-auth.js"></script>
    <script type="module" src="../static/components/forget.js"></script>

{% endblock %}

{% block right %}
   
{% endblock %}