{% extends '_layout.html' %}

{% block title %}Index{% endblock %}

{% block body %}
          
{% block right %}

<div class="mt-5">
    <h3 class="title" style="margin: 0;">Your garden</h3>
    {% if my_garden | length != 0 %}
        <div class="cards-wrapper justify-content-start" style="display: flex; flex-wrap: wrap;">
            {% for plant in my_garden %}
            <form method="POST" action="{{ url_for('main.create_journal') }}">
                <input type="hidden" name="plant_id" value="{{ plant['id'] }}">
                <div class="card" style="width: 15rem; margin: 7px; text-align: left;">
                    <button type="submit" class="btn-fix" style="width: 100%; text-align: left;">
                        <img class="card-img-top" src="{{ plant['image'] }}" style="border-radius: 3%; height:12rem;" alt="{{ plant['common_name'] }}" onerror="this.onerror=null; this.src='../static/gallery/test2.jpg';">
                        <div class="mt-2">
                            <div class="model" style="display: inline;">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="{{ plant['description'] }}">
                                    <h5 class="card-title" style="margin-bottom: 0; text-align: left;">{{ plant['common_name'] }}</h5>
                                </a>
                            </div>
                
                            <div class="model" style="display: inline;">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="{{ plant['maintenence']['sowing_method'] }}">
                                    <span style="text-align: left;">
                                        <small style="text-align: left;">Sowing method • </small>
                                    </span>
                                </a>
                            </div>
                            <span><small>{{ plant['maintenence']['sun_requirements'] }}</small></span>
                        </div>
                    </button>
                </div>
            </form>
                {% endfor %}
                <a  href="{{ url_for('main.add_plant') }}"> 
                    <div class="card" style="width: 15rem; margin: 7px;">
                        <button type="submit" class="btn-fix">
                            <img class="card-img-top" src="../static/gallery/grey.png" style="border-radius: 3%; height:12rem;" alt="Add Journal">
                            <div class="mt-2">
                                <h5 class="card-title" style="margin-bottom: 0; text-align: left;">Add to garden</h5>
                            </div>
                        </button>
                    </div>
                </a>
        </div>
{% else %}
{% endif %}
</div>
           


<!-- Carousel for friends -->



{% endblock %}
{% endblock %}