{% extends '_layout.html' %}

{% block title %}Index{% endblock %}

{% block body %}
          
{% block right %}
<!-- Carousel with controls -->
    <div id="carouselExampleControls{{ x }}" class="carousel slide" data-interval="false">
        <div class="carousel-inner">
            <div style="display: flex; align-items: center; justify-content: space-between; padding: 10px;">
                <h3 class="title">Hop into your Journals</h3>
                <div style="display: flex; align-items: center;">
                    <a class="carousel-control-top" href="#carouselExampleControls{{ x }}" role="button" data-slide="prev" style="margin-left: 10px;">
                        <img style="height:30px"src="../static/gallery/icons/chevron_left.png">
                        
                        <span class="sr-only">Next</span>
                    </a>
                    <a class="carousel-control-top" href="#carouselExampleControls{{ x }}" role="button" data-slide="next" style="margin-left: 10px;">
                        
                        <img style="height:30px"src="../static/gallery/icons/chevron_right.png">
                        <span class="sr-only">Previous</span>
                    </a>
                </div>
            </div>
            {% if my_garden | length == 0 %}
                <!-- Display grey cards if my_garden is empty -->
                 
                <div class="carousel-item active">
                    <div class="cards-wrapper" style="display: flex; flex-wrap: wrap; justify-content: center;">
                        {% for _ in range(4) %}
                            <div class="card" style="width: 15rem; margin: 10px;">
                                <a href="/addplant">
                                    <img class="card-img-top" src="/static/gallery/grey.png" style="border-radius: 3%; height:15rem;" alt="Add a new journal">
                                    <div class="card-body">
                                        <h5 class="card-title" style="margin-bottom: 0;">Add a New Journal</h5>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
            {% set total_cards = my_garden | length %}
            {% set full_slides = total_cards // 4 %}
            {% set remainder = total_cards % 4 %}

            {% for i in range(full_slides + (1 if remainder > 0 else 0)) %}
                <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                    <div class="cards-wrapper" style="display: flex; flex-wrap: wrap; justify-content: center;">
                        {% for j in range(4) %}
                            {% set current_index = i * 4 + j %}
                            {% if current_index < total_cards %}
                                <form method="POST" action="{{ url_for('main.create_journal') }}">
                                    <input type="hidden" name="plant_id" value="{{ my_garden[current_index]['id'] }}">
                                    <div class="card" style="width: 15rem; margin: 10px;">
                                        <button type="submit" class="btn-fix">
                                            <img class="card-img-top" src="{{ my_garden[current_index]['image'] }}" style="border-radius: 3%; height:15rem;" alt="{{ my_garden[current_index]['common_name'] }}">
                                            <div class="card-body">
                                                <h5 class="card-title" style="margin-bottom: 0;">{{ my_garden[current_index]['common_name'] }}</h5>
                                                <p class="card-text text-center" style="opacity: 70%; margin-bottom: .5rem;"><small>{{ my_garden[current_index]['scientific_name'] }}</small></p>
                                            </div>
                                        </button>
                                    </div>
                                </form>
                            {% else %}
                                <div class="card" style="width: 15rem; margin: 10px;">
                                    <a href="/addplant">
                                        <img class="card-img-top" src="/static/gallery/grey.png" style="border-radius: 3%; height:15rem;" alt="Add a new journal">
                                        <div class="card-body">
                                            <h5 class="card-title" style="margin-bottom: 0;">Add a New Journal</h5>
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
{% endblock %}