{% extends '_layout.html' %}

{% block title %}{{ journal['name'] }}{% endblock %}

{% block body %}

{% block right %}


    <div class="">
        <div>
            <div class="d-flex justify-content-between">
                <h2 style="display: inline;">{{ journal['name'] }}</h2>
                {% if user.UID == journal.uid %}
                    <button data-toggle="modal" data-target="#new-post" class="btn">New Post</button>
                    <div id="new-post" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel">
                        <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            
                            <!-- Modal Body with Image -->
                            <div class="modal-body">
                                <form  id="create-post-form" class="pt-4 mb-4 ml-3" style="width:95%">
                                    <div class="form-group">
                                    <label for="title">Post Title</label>
                                    <input type="text" class="form-control" id="title" name="title" placeholder="Enter post title" required>
                                    </div>
                                    
                                    <div class="form-group">
                                    <label for="content">Content</label>
                                    <textarea class="form-control" id="content" name="content" rows="4" placeholder="Enter post content" required></textarea>
                                    </div>
                        
                                    <!-- New image upload input -->
                                    <div class="form-group">
                                        <label for="image">Upload Image</label>
                                        <!-- <input type="file" class="form-control-file" id="image" name="image" accept="image/*"> -->
                                        <input type="file" id="photo" class="form-control-file">
                                    </div>
                        
                                    <input type="hidden" id="journal_id" name="journal_id" value="{{ journal_id }}">
                                    
                                    <button type="submit" class="btn btn-primary justify-content-end">Submit</button>
                                </form>
                            </div>
                        </div>
                        </div>
                    </div>   
                {% endif %}
            </div>
           
            <p>{{ journal['desc'] }}</p>
            
            <!-- Model 1 -->
            <div class="model" style="display: inline;">
                <a href="#" data-toggle="tooltip" data-placement="top" title="{{plant['description']}}"> <span><small>{{plant['common_name']}} • </small></span></a>
            </div>
            <div class="model" style="display: inline;">
                <a href="#" data-toggle="tooltip" data-placement="top" title="{{plant['maintenence']['sowing_method']}} "> <span><small>Sowing method • </small></span></a>
            </div>
            <span><small>{{plant['maintenence']['sun_requirements']}} </small></span>
     
        </div>
        <div class="d-flex justify-content-center">
        {% if posts != None %}
        <div class="card-container w-100" style=" gap: 1rem;">
            {% for post in posts %}
                <div class="card">
                    <div class="card-body section-profile mt-2 mb-3">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex mt-2 align-items-center">
                                <!---User acting as a fill in until creators can be called-->
                                {% if request.endpoint == 'main.journal' %}
                                    <img style="border-radius: 50%; height: 4rem; width: 4rem; filter: none; box-shadow: none;" src="{{ user['photoURL'] }}">
                                {% elif request.endpoint == 'main.friend_journal' %}
                                    <img style="border-radius: 50%; height: 4rem; width: 4rem; filter: none; box-shadow: none;" src="{{ friend['photoURL'] }}">
                                {% endif %}
                                <div class="ml-2">
                                    <h5 class="card-title truncated-title" style="margin-bottom: 0.1rem; text-align: left;">{{ post['title'] }}</h5>
                                    <p style="margin-bottom: 0;"><small>{{post.time_readable}} • {{ user['username'] }}</small></p>
                                </div>
                            </div>
            
                            
                            {% if user.UID == post.uid %}
                            <form action="{{ url_for('main.delete_post', post_id=post['id']) }}" method="post" style="display: inline;">
                                <button type="submit" class="btn-fix" onclick="return confirm('Are you sure you want to delete this post?');">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </form>
                            {% endif %}
                        </div>
                   
                       {% if post['image_url'] %}
                            <img data-toggle="modal" data-target="#image-{{ post['id'] }}" src="{{ post['image_url'] }}" alt="Post Image" style="box-shadow:none;" class="img-fluid mt-2 rounded mt-2 crop-image">
                            <!-- <img src="{{ post['image_url'] }}" alt="Post Image" class="img-fluid rounded mt-2 crop-image"> -->
                            <div id="image-{{ post['id'] }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel">
                                <div class="modal-dialog modal-lg" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    
                                    <!-- Modal Body with Image -->
                                    <div class="modal-body">
                                      <img style="height:auto; box-shadow:none;"src="{{ post['image_url'] }}" alt="Post Image">
                                    </div>
                                  </div>
                                </div>
                              </div>
                             
                        {% endif %}
                        <p class="card-text">{{ post['text'] }}</p>

                        <img data-toggle="modal" data-target="#comments-{{ post['id'] }}" src="/static/gallery/icons/chat(1).png" alt="Post Image" style="box-shadow:none; padding-right: 0px;" class="nav-icon">
                        <span class="mr-1">{{ post.comments|length }}</span>
                        <form style="display: inline;" action="{{ url_for('main.like_post', post_id=post['id']) }}" method="POST">
                            <input type="hidden" name="journal_id" value="{{ journal_id }}">
                            <button class="btn-fix" type="submit"><img src="/static/gallery/icons/heart.png" alt="Post Image" style="box-shadow:none; padding-right: 0px;" class="nav-icon"></button> <!-- <img data-toggle="modal" data-target="#likes-{{ post['id'] }}" src="/static/gallery/icons/heart.png" alt="Post Image" style="box-shadow:none;" class="nav-icon"> -->
                        </form>
                        <span>{{ post.likes|length }}</span>
                        
                        <div id="likes-{{ post['id'] }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="commentsModalLabel-{{ post['id'] }}">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>

                                  <div class="modal-body">
                                      <div class="d-flex align-items-center">
                                          <img style="border-radius: 50%; height: 4rem; width: 4rem; filter: none; box-shadow: none;" src="{{ user['photoURL'] }}" alt="Profile Picture">
                                          <h5 class="ml-3" style="margin-bottom: 0;">Username</h5>
                                      </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                        

                        <div id="comments-{{ post['id'] }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="commentsModalLabel-{{ post['id'] }}">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{{ url_for('main.add_comment') }}" method="post">
                                            <div class="d-flex align-items-center">
                                                <img style="border-radius: 50%; height: 4rem; width: 4rem; filter: none; box-shadow: none;" src="{{ user['photoURL'] }}" alt="Profile Picture">
                                                <div class="form-group flex-grow-1 ml-3 mb-0">
                                                    <input type="text" class="form-control" name="comment" placeholder="Share your thoughts" style="border-radius: 30px;" required>
                                                    <input type="hidden" name="post_id" value="{{ post['id'] }}"> <!-- Hidden field for post ID -->
                                                    <input type="hidden" name="journal_id" value="{{ journal_id }}">
                                                    <div class="d-flex justify-content-end mt-2">
                                                        <button type="submit" class="btn btn-primary">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    <br>
                                    <!-- Make this loop through all the comments -->
                                    {% if post.comments != [] %}
                                        {% for comment in post.comments %}
                                            <div class="d-flex align-items-center">
                                                <img style="border-radius: 50%; height: 4rem; width: 4rem; filter: none; box-shadow: none;" src="{{ comment['author']['photoURL'] }}" alt="Profile Picture">
                                                <div class="flex-grow-1 ml-3">
                                                <p>{{ comment['comment'] }}</p>
                                                <small>{{ comment['author']['username'] }}</small>
                                                </div>
                                            </div>

                                        {% endfor %}
                                    {% else %}
                                        <div class="d-flex align-items-center">
                                            
                                            <div class="flex-grow-1 ml-3">
                                            <p>Be the first to comment...</p>
                                            </div>
                                        </div>   
                                    {% endif %}
                                </div>
                                
                              </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            {% endfor %}
        </div>
        {% else %}
            <h2>No Posts...</h2>
        {% endif %}
        </div>
<!-- action="{{ url_for('main.create_post') }}" -->

          
    </div>



<script type="module" src="/static/components/journal.js"></script>


{% endblock %}
<script>
    // jQuery code to trigger the modal when the button is clicked
    $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
    $('#add-plant-button').on('click', function() {
        $('#searchModal').modal('show');
    });
</script>

{% endblock %}


<!-- In the future this should be done by a Jinja script
            I'll most likely do soemthing like 
            Column 1 = Images in gallery count/4
            Column 2 = Images in gallery count/4
            Column 3 = Images in gallery count/4
            Column 4 = Images in gallery count/4 + Remainder (if it exists)

            Then the individual images would have heights that add up to 75%.

            manual version can be seen below. This is also assuming we impliment a max img's per journal. 
            Once the DB is done back or front end can work on fully implimenting this.
            
        -->
        <!--<div class="col-md-3">
            <img src="/static/gallery/testing1.png" style="height:25%">
            <img src="/static/gallery/testing1.png" style="height:30%">
            <img src="/static/gallery/garden.jpg" style="height:20%">
        </div>
        <div class="col-md-3">
            <img src="/static/gallery/login_image.jpg" style="height:25%">
            <img src="/static/gallery/testing1.png" style="height:50%">
        </div>
        <div class="col-md-3">
            <img src="/static/gallery/testing1.png" style="height:30%">
            <img src="/static/gallery/singup_image.jpg" style="height:10%">
            <img src="/static/gallery/testing1.png" style="height:25%">
            <img src="/static/gallery/testing1.png" style="height:10%">
        </div>
        <div class="col-md-3">
            <img src="/static/gallery/testing1.png" style="height:30%">
            <img src="/static/gallery/testing1.png" style="height:25%">
            <img src="/static/gallery/garden.jpg" style="height:20%">
        </div>-->
