{% extends '_layout.html' %}

{% block title %}Journals{% endblock %}

{% block body %}
          
{% block right %}
<h2>Spring back into your garden</h2>
    <div class="card-container d-flex flex-wrap">
        {% for journal in journals %}
            <div class="card" style="width: 15rem;"> 
                <a href="{{ url_for('main.journal', journal_id=journal['id']) }}">
                <img class="card-img-top" src="{{ journal['image'] }}" style="border-radius: 3%; height:15rem;" alt="Add a new journal">
                <div class="card-body">
                    <h5 class="card-title mb-0" style="text-align:center;">{{ user.username|capitalize }}'s {{ journal['plant_name'] }}</h5>
                   
                </div>
            </a>
            </div>
           
        {% endfor %}
    </div>
{% endblock %}
{% endblock %}
