{% extends '_layout.html' %}

{% block title %}Journals{% endblock %}

{% block body %}
          
{% block right %}

            {% for journal in journals %}
            <div class="card" style="width: 18rem;">
                
                <div class="card-body">
                    <h5 class="card-title">{{ journal['name'] }}</h5>
                    <a href="{{ url_for('main.journal', journal_id=journal['id']) }}"><button class="btn btn-primary">View Journal</button></a>
                </div>
            </div>
            {% endfor %}
{% endblock %}
</section>
</main>
</body>
{% endblock %}
