{% extends '_layout.html' %}
{% block title %}Journals{% endblock %}
{% block body %}  
{% block right %}
<h3 class="title mx-1 mb-3 mt-5">Spring back into your Journals</h3>
<div class="card-container d-flex flex-wrap">
    {% for journal in journals %}
        <div class="card" style="width: 15rem;"> 
            <a href="{{ url_for('main.journal', journal_id=journal['id']) }}">
            <img class="card-img-top" src="{{ journal['image'] }}" style="border-radius: 3%; height:12rem;" alt="Add a new journal">
            <div class="card-body d-flex justify-content-between pr-0 pl-0">
                <h5 class="card-title" style="margin-bottom: 0;">{{ user.username|capitalize }}'s {{ journal['plant_name'] }}</h5>
            </a>
            <form action="{{ url_for('main.delete_journal', journal_id=journal.id) }}" method="POST">
                <button class="btn-fix pr-1"type="submit"> <img style="height:.9rem; opacity:50%; box-shadow:none;" src="../static/gallery/icons/X.png"></button>
            </form>
            </div>
            
                
           </div>
    {% endfor %}
    <button  data-toggle="modal" data-target="#plantModal" class="btn btn-primary" style="background-color:var(--darkGreen);">Add a new Journal</button>
        
</div>



<div class="modal fade" id="plantModal" tabindex="-1" role="dialog" aria-labelledby="plantModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="plantModalLabel">Create Journal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="plantForm" method="POST" action="{{ url_for('main.create_journal') }}">
                    
                    <div class="form-group">
                        <input type="text" placeholder="Insert title" class="form-control" name="journal-title" name="title" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="journal-plant-id">Select Plant</label>
                        <select name='journal-plant-id' class="form-control">
                            {% for plant in my_garden %}
                                <option value="{{ plant['id'] }}">{{ plant['common_name'] }}</option>
                            {% endfor %}
                          </select>
                    </div>
               
                    <div class="form-group">
                        
                        <textarea class="form-control" placeholder="Insert description..." name="journal-description" name="description" rows="3" required></textarea>
                    </div>

                     <!-- Collapsible Content --> <!--
                     <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" id="addPlantCheckbox" data-toggle="collapse" data-target="#collapsibleContent">
                        <label class="form-check-label" for="addPlantCheckbox">
                          Create first post
                        </label>
                      </div>
                     <div id="collapsibleContent" class="collapse">
                        <div class="form-group">
                            <input  placeholder="Post title" type="text" class="form-control" id="post-title" name="post-title" required>
                        </div>
                        <div class="form-group">
                            <textarea  placeholder="Insert description..." class="form-control" id="post-description" name="post-description" rows="3" required></textarea>
                        </div>
                        <div class="mb-3">
                            <input class="form-control" type="file" id="formFile">
                          </div>
                    </div>
                -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" >Create Journal</button>
                    </div>
                </form>
            </div>
           
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
    <script type="module" src="../static/components/journals.js"></script>
 {% endblock %}

{% endblock %}