{% extends '_layout.html' %}

{% block title %}{{ journal['name'] }}{% endblock %}

{% block body %}

{% block right %}

<div class="container">
    <div class="gallery">

        <div class="text-center">
            <h2 style="display: inline;">{{ user.username|capitalize }}'s {{ plant['common_name'] }}</h2>
            <p>{{ journal['desc'] }}</p>
        </div>
        
        {% if posts != None %}
        <div class="card-container" style="display: flex; flex-wrap: wrap; gap: 1rem;">
            {% for post in posts %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title truncated-title" style="margin-bottom: 0.1rem;">{{ post['title'] }}</h5>
                        <small>{{ post['time_readable'] }}</small>
                        <p class="card-text">{{ post['text'] }}</p>
                        <div class="truncated-text" style="display: none;"></div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% else %}
            <h2>No Posts...</h2>
        {% endif %}

        <form action="{{ url_for('main.create_post') }}" method="POST">
            <div class="form-group">
              <label for="title">Post Title</label>
              <input type="text" class="form-control" id="title" name="title" placeholder="Enter post title" required>
            </div>
            
            <div class="form-group">
              <label for="content">Content</label>
              <textarea class="form-control" id="content" name="content" rows="4" placeholder="Enter post content" required></textarea>
            </div>

            <input type="hidden" name="journal_id" value="{{ journal_id }}">
            
            <button type="submit" class="btn btn-primary justify-content-end">Submit</button>
        </form>
          
    </div>
</div>

<script type="module" src="../static/components/journal.js"></script>

{% endblock %}
{% endblock %}


<!-- In the future this should be done by a Jinja script
            I'll most likely do soemthing like 
            Column 1 = Images in gallery count/4
            Column 2 = Images in gallery count/4
            Column 3 = Images in gallery count/4
            Column 4 = Images in gallery count/4 + Remainder (if it exists)

            Then the individual images would have heights that add up to 75%.

            manual version can be seen below. This is also assuming we impliment a max img's per journal. 
            Once the DB is done back or front end can work on fully implimenting this.
            
        -->
        <!--<div class="col-md-3">
            <img src="/static/gallery/testing1.png" style="height:25%">
            <img src="/static/gallery/testing1.png" style="height:30%">
            <img src="/static/gallery/garden.jpg" style="height:20%">
        </div>
        <div class="col-md-3">
            <img src="/static/gallery/login_image.jpg" style="height:25%">
            <img src="/static/gallery/testing1.png" style="height:50%">
        </div>
        <div class="col-md-3">
            <img src="/static/gallery/testing1.png" style="height:30%">
            <img src="/static/gallery/singup_image.jpg" style="height:10%">
            <img src="/static/gallery/testing1.png" style="height:25%">
            <img src="/static/gallery/testing1.png" style="height:10%">
        </div>
        <div class="col-md-3">
            <img src="/static/gallery/testing1.png" style="height:30%">
            <img src="/static/gallery/testing1.png" style="height:25%">
            <img src="/static/gallery/garden.jpg" style="height:20%">
        </div>-->