<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/bootstrap/css/bootstrap.min.css" media="all" rel="stylesheet">
    <!--Imported Google Icons & fonts-->
    <link rel="icon" type="image/x-icon" href="/static/gallery/favicon.ico">
    <link rel="stylesheet" href="/static/styles.css">
   <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    
    <script type="module" src="../static/components/layout2.js"></script>

    <nav class="navbar bordered-horizontal">
        <h1>PlantPals</h1>
    </nav>

    <main>
        <div class="container-fluid layout-bg">
            <div class="row justify-content-md-center">
                <!-- Left Sidebar -->
                <div class="col-md-3 section-center mt-4">
                    <div class="section-login my-5 py-5">
                    {% block left %}
                    <!-- Default Navigation -->
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center nav-color" href="{{ url_for('main.home') }}">
                                <span class="material-symbols-outlined material-icons">home</span>
                                <h3>Home</h3>
                            </a>
                        </li>
                        <!-- Add other navigation items similarly -->
                    </ul>
                    {% endblock %}
                </div>
                </div>

                <!-- Main Content -->
               
                    {% block right %}{% endblock %}
            
            </div>
        </div>
    </main>



    <!-- Bootstrap JS and dependencies -->
    <script src="../static/bootstrap/jquery-3.7.1.min.js.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.bundle.js"></script>

    
</body>
</html>