{% extends '_layout.html' %}

{% block title %}Friends{% endblock %}

{% block body %}
{% block right %}

<!-- Search Bar -->
<div class="card mb-4">
    <div class="card-header">
        <h3 class="title">Add Users</h3>
    </div>
    <div class="card-body">
        <div class="form-group mb-3">
            <input type="text" id="user-search" class="form-control" placeholder="Search for users">
        </div>
        <ul id="search-results" class="list-group"></ul>
    </div>
</div>

<!-- Friends List -->
<div class="d-flex flex-wrap align-items-start mt-2">
    {% if friends %}
        {% for friend in friends %}
        <div class="d-flex align-items-center flex-column m-2">
            <a href="/friends/{{ friend.UID }}" class="text-decoration-none text-dark">
                <img style="border-radius: 50%; width:7rem;" src="{{ friend.photoURL }}" alt="{{ friend.username }}">
                <h4 class="mt-2">{{ friend.username }}</h4>
            </a>
        </div>
        {% endfor %}
    {% else %}
        <p class="text-muted">No friends added yet. Use the search bar to find and add friends.</p>
    {% endif %}
</div>

<script type="module" src="../static/components/userSearch.js"></script>

{% endblock %}
{% endblock %}
