{% extends '_layout.html' %}

{% block title %}Profile - PlantPals{% endblock %}

{% block right %}

<!--Fill in for now. Will Have more robust way of showing posts once Backend is done-->
{% if all_posts %}
<div class="cards-wrapper" style="display: flex; flex-wrap: wrap; justify-content: start;">
{% for post in all_posts %}
<div class="d-flex flex-row justify-content-start  mb-3 ">
    <div class="mx-2 card" style="width: 15rem; margin: 7px;">
    
        <a href="{{ url_for('main.journal', journal_id =post.journal_id)}}">
            <img src="/static/gallery/testing1.png" style="border-radius: 3%; height:12rem;" class="card-img-top" alt="...">
            <p>{{post.title }}</p>
            <p>{{post.time_created}}</p>
            <p>{{post.author.username}}</p>
            
        </a>
    </div>
</div>
{% endfor %}
</div>
{% else %}
<p>no posts to show.</p>
{% endif %}

{% endblock %}