{% extends '_layout.html' %}

{% block title %}Profile - PlantPals{% endblock %}

{% block right %}

<div class=" mt-5">
    {% if all_posts  != None %}
    <div class="card-container w-100" style=" gap: 1rem;">
        {% for post in all_posts %}
        <a href="{{ url_for('main.journal', journal_id =post.journal_id)}}">
            <div class="">
                
                <div class="card-body section-profile  ">

                    <div class="d-flex mt-2 align-items-center">
                        <img style="border-radius: 50%; height: 4rem; width: 4rem; filter: none; box-shadow: none;" src="{{post.author.photoURL}}">
                      
                        <div class="ml-2">
                            <h5 class="card-title truncated-title" style="margin-bottom: 0.1rem; text-align: left;">{{ post['title'] }}</h5>
                            <p style="margin-bottom: 0;"><small>{{post.time_created}} • {{post.author.username}}</small></p>
                        </div>
                    </div>
                   
                    <p class="card-text">{{ post['text']  | truncate(400) }}</p>
                    
                    {% if post['image_url'] %}
                        <img src="{{ post['image_url'] }}" alt="Post Image" class="img-fluid rounded mt-2 crop-image">
                    {% endif %}
                    <!-- <div class="truncated-text" style="display: none;"></div> -->
                </div>
                <br>
            </div>
        </a>
        {% endfor %}
    </div>
    {% else %}
        <h2<a href="{{ url_for('main.garden') }}">Your friends haven't posted... Make new ones?</a>></h2>
    {% endif %}
    </div>



{% endblock %}