{% extends '_layout.html' %}

{% block title %}Settings{% endblock %}

{% block body %}
<body>
    
    <header>
        <h1>Settings</h1>
    </header>
    <main>
        
        <section class="settings-section">
            {% block right %}

           
                <div class="">
                        <!-- Profile Information Section -->
                         <div>
                        <div class="row justify-content-center">
                        <div class="card mb-3 col-sm">
                            <div class="card-header">
                                <h3 class="title">Profile Information</h3>
                            </div>
                            <div class="card-body">
                                <form id="profile-form">
                                    <div class="form-group mb-3">
                                        <label for="username">Username</label>
                                        <input type="text" class="form-control" id="username" value="{{ user.username }}" placeholder="Enter your username" required>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" id="email" value="{{ user.email }}" placeholder="Enter your email" required>
                                    </div>
                                    <!-- Profile Photo Section -->
                                    <div class="form-group mb-3">
                                        <label for="photo">Profile Photo</label>
                                        <div class="d-flex align-items-center">
                                            <img id="photo-preview" src="{{ user.photoURL }}" alt="Profile Photo"  style="border-radius: 50%; height: 4rem; width: 4rem; filter: none; box-shadow: none;" width="50">
                                            <input type="file" id="photo" class="form-control-file ml-2">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Update Profile</button>
                                </form>
                            </div>
                        </div>
            
                        <!-- Password Section -->
                        <div class="card mb-4 col-sm">
                            <div class="card-header">
                                <h3 class="title">Change Password</h3>
                            </div>
                            <div class="card-body">
                                <form id="password-form">
                                    <div class="form-group mb-3">
                                        <label for="current-password">Current Password</label>
                                        <input type="password" class="form-control" id="current-password" placeholder="Current password" required>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="new-password">New Password</label>
                                        <input type="password" class="form-control" id="new-password" placeholder="New password" required>
                                    </div>
                                    <button id="update-password" type="submit" class="btn btn-danger">Update Password</button>
                                </form>
                            </div>
                        </div>
                    </div>

                        
            
                    </div>
                    
                    
                </div>
            
            <script src="https://www.gstatic.com/firebasejs/9.15.0/firebase-app.js"></script>
            <script src="https://www.gstatic.com/firebasejs/9.15.0/firebase-auth.js"></script>
            <script type="module" src="../static/components/settings.js"></script>
            {% endblock %}
        </section>
    </main>
    
    
    
</body>
{% endblock %}
